

header {
  background-color: rgba(255,103,31, 0.5);
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 25%;
  display: flex;
}

footer {
  background-color: rgba(4,106,56, 0.5);
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 382px;
  z-index: 1000;
  height: 25%;
  display: flex;
}